<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Average grades request</title>
</head>
<body>
<div class="container">
  <form class="estimate-student" method="post" th:action="@{/getAverageGradesRequest}" th:object="${averageGradesRequest}">
    <h1>Choose specialization</h1>
    <p>
      <label for="specialization">Specialization:</label>
      <select id="specialization" th:field="*{specialization}">
        <option th:each="specilization : ${T(students.system.model.student.Specialization).values()}"
                th:value="${specilization.getTitle()}" th:text="${specilization.getTitle()}"></option>
      </select>
    </p>
    <p>
      <label for="course">Course:</label>
      <select id="course" th:field="*{course}">
        <option th:value='1' th:text='1'></option>
        <option th:value='2' th:text='2'></option>
        <option th:value='3' th:text='3'></option>
        <option th:value='4' th:text='4'></option>
      </select>
    </p>
    <button type="submit">Calculate</button>
    <a href="/studentsAll" class="button">Back</a>
  </form>
</div>
</body>
</html>